<td>
    <%= data.CurrentTodo.id %>
</td>
<td>
    <%= data.CurrentTodo.title %>
</td>
<td>
    <%= data.CurrentTodo.description %>
</td>
<td>
    <%= data.CurrentTodo.start_date %>
</td>
<td>
    <%= data.CurrentTodo.due_date %>
</td>